@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Marius Austinskas
   Date:   June 3, 2020
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
  height: 100%;
}
body {
  width: 95%;
  min-width: 640px;
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  display: inline-block;
}

/* CSS Grid Styles */
body {
  display: grid;
  grid-column: 1fr;
}
img#logo {
  column-span: 3;
  width: 100%;
}

/* Horizontal Navigation List Styles */
footer {
  column-span: 4;
}
.horizontal li {
  column-span: 4;

  display: block;

  width: 12.5%;

  float: left;
}

aside {
  column-span: 2;
}

li {
  display: block;
  width: 12.5%;
  float: left;
}

/* Section Styles */
section {
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

section p {
  width: 70%;
  margin: 0 auto;
}

section img {
  width: 50%;
  display: block;
  width: 12.5%;
  margin: 0 auto;
}

/* Customer Comment Styles */
aside {
  width: 75%;
  padding-bottom: 30px;
}

aside img {
  float: left;
  width: 20%;
}

aside p {
  float: left;
  width: 75%;
  margin-left: 5%;
}

:nth-of-type(odd) aside {
  justify-self: end;
  width: 20%;
}
